.App {
  min-height: 100vh;
  text-align: center;
  background-color: #08979c;
  color: white;
  font-size: calc(10px + 2vmin);
}

.flow-col {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-y: scroll;
}

.rotate {
  transform: rotate(45deg) scale(1.5);
}

.outside-elevator {
  margin-top: 20px;
  font-size: x-large;
  .input-num {
    width: 50px;
  }
  .one-button {
    margin-top: 20px;
    margin-bottom: 10px;
    .up-button {
      width: 50px;
      height: 50px;
      border: none;
    }
    .down-button {
      width: 50px;
      height: 50px;
      border: none;
    }
    .up-button:hover, .down-button:hover {
      background-color: #8c8c8c !important;
      color: black;
    }
  }
}

.one-line {
  margin-top: 30px;
  text-align: center;
}

.elevator {

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: x-large;

    .current-floor {
      display: inline-block;
      margin-left: 12px;
      margin-right: 80px;
      width: 40px;
      color: #c4fa14;
    }
    .current-up {
      margin-right: 100px;
    }
  }
  .left-button {
    margin-bottom: 6px;
    float: left;
    width: 50px;
    height: 40px;
    border: none;
  }
  .left-button:hover {
    margin-bottom: 6px;
    float: left;
    width: 50px;
    height: 40px;
    border: none;
    background-color: #7fb9af !important;
  }
  .left-button-hover {
    margin-bottom: 6px;
    float: left;
    width: 50px;
    height: 40px;
    background-color: #5b8c00 !important;
    border: none;
  }
  .right-button {
    margin-bottom: 6px;
    width: 50px;
    height: 40px;
    border: none;
  }
  .right-button:hover {
    margin-bottom: 6px;
    width: 50px;
    height: 40px;
    border: none;
    background-color: #7fb9af !important;
  }
  .right-button-hover {
    margin-bottom: 6px;
    width: 50px;
    height: 40px;
    background-color: #5b8c00 !important;
    border: none;
  }
}

.special-row {
  background-color: #7fb9af;
}


.box-enter, .box-appear {
  opacity: 0;
  transform: scale(0.6)
}
.box-enter-active, .box-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: all 1000ms;
}
.box-exit {
  opacity: 1;
  transform: scale(1);
}

.box-exit-active {
  opacity: 0;
  transform: scale(.6);
  transition: all 1000ms
}






.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
